<!--
<button type="button" class="btn btn-primary" ng-click=getNewName('Amila')>Click Result Amila</button>
<button type="button" class="btn btn-primary" ng-click=getNewName('Kapila')>Click Result Kapila</button>
-->

Search by Name <input type="text" ng-model="studentNameFilter"><br><br>
<!--<button type="button" class="btn btn-primary" ng-click=addStudent()>Add New Student</button>-->
        <table class="table table-striped">
            <tr class="info">
                <th ng-click="">Name</th>
                <th ng-click="">Age</th>
                <th ng-click="">Sinhala</th>
                <th ng-click="">Egnlish</th>
                <th ng-click="">View Information</th>
            </tr>
            <tr ng-repeat="student in students | filter:studentNameFilter|limitTo:10" class="repeat-animation">
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.sinhala}}</td>
                <td>{{student.english}}</td>
                <td><a ng-href="/student/{{student.name}}">Views All {{student.name}}</a></td>
            </tr>
        </table>
<hr>

    Total Student : {{students.length}}

<hr>


